body {
  font-family: Arial, Helvetica, sans-serif;
}
/*
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  */
.main-header {
  width: 1000px;
  margin: 0 calc(50% - 500px);
  padding-top: 40px;
}
.container > .long {
  width: 1000px;
  margin: 0 calc(50% - 500px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tekstas main-img";
}
.text-bl {
  grid-area: tekstas;
  width: 400px;
  align-self: end;
}
.description {
  font-size: 30px;
}
.title {
  font-size: 100px;
  margin-bottom: 0;
}
.main-img {
  grid-area: main-img;
  width: 600px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: white;
  grid-template-areas: "short nav nav ";
}
.short {
  grid-area: short;
}
.logo {
  align-self: center;
}
nav {
  grid-area: nav;

  align-self: center;
}
a {
  text-decoration: none;
  color: dimgray;
}

.dropdown {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "pirmas antras trecias ketvirtas penktas";
}

.main-header > .main-nav > .dropdown > .pirmas {
  grid-area: pirmas;
}
.main-header > .main-nav > .dropdown > .antras {
  grid-area: antras;
}
.main-header > .main-nav > .dropdown > .trecias {
  grid-area: trecias;
}
.main-header > .main-nav > .dropdown > .ketvirtas {
  grid-area: ketvirtas;
}
.main-header > .main-nav > .dropdown > .penktas {
  grid-area: penktas;
}
.main-nav .dropdown .label {
  position: relative;
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.main-nav .dropdown .dropdown-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 3px 3px cadetblue;
  display: none;
  position: absolute;
  gap: 10px;
  height: 50px;
  width: 150px;
  z-index: 1;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.main-nav .dropdown .dropdown-list > a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  margin-left: 10px;
}
.label {
  line-height: 20px;
  font-size: 16px;
  padding: 10px 0;
}
.dropdown-pirmas:hover > .dropdown-list {
  display: flex;
  flex-direction: column;
  transition: translateY(-100%);
}
.dropdown-antras:hover > .dropdown-list {
  display: flex;
  flex-direction: column;
  transition: translateY(-100%);
}
.dropdown-list-left {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  display: none;
  position: absolute;
  gap: 10px;
  width: 80px;
  z-index: 1;
  margin-left: -80px;
  margin-top: -30px;

  background-color: white;
  box-shadow: 3px 3px cadetblue;
}

.dropdown-two > a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-left: 10px;
}
.dropdown-list-left > a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.main-nav .dropdown-two:hover > .dropdown-list-left {
  display: flex;
  flex-direction: column;
  transition: translateX(100%);
}
@media (max-width: 795px) {
  .main-header {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
  .container > .long {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
}
@media (max-width: 575px) {
  .main-header {
    width: 300px;
    margin: 0 calc(50% - 150px);
    grid-template-areas: 1fr;
    grid-template-areas:
      "short short"
      "nav nav";
  }
  .container > .long {
    display: grid;
    grid-template-areas: 1fr;
    grid-template-areas:
      "tekstas"
      "tekstas"
      "main-img";
    width: 300px;
    margin: 0;
    padding: 0;
  }
}
